.product {
  width: 33%;
  min-width: 200px;
  max-width: 250px;
  background-color: transparent;
  border: 1px solid #a4a4a44d;
  border-radius: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  height: 350px;
}
.product img {
  width: 100%;
  height: 60%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.product .info {
  height: 40%;
  padding: 15px;
}
