.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.field label {
  font-size: 14px;
  font-weight: 600;
}
.field input,
.field textarea {
  height: 35px;
  outline: none;
  border-radius: 8px;
  border: none;
  padding-left: 10px;
  color: #eee;
}
